body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: crimson;
    
}

h2{
    color: crimson;
    
}

h3{
    color: orange;
}

p{
    text-align: justify;
    color:black;
}



.name-highlight
{
    color:orange
}

.half-width{
    height: 400px;
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;

}

.one-third-width{
    height: 500px;
    width: 27%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;

}

.half-width img{
    width: 80%;
    height: 60%;

}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(crimson, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}

.academic-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}


img.imgcenter{
  height: 150px;  
  width: 150px;
  border: 3px solid lightblue;
  padding: 10px;
  text-align: center;
}

.border-shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;    
    background-color: white;
}

#bsec{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,crimson, tomato);
   border-image-slice: 1;
}

#dbbl{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightblue, tomato);
   border-image-slice: 1;
}

#buet{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,red, orange, yellow, green, blue);
   border-image-slice: 1;
}

#iba{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red , yellow);
   border-image-slice: 1;
}

#cuet{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, crimson);
   border-image-slice: 1;
}



footer p{  
    
    text-align: center;
    font-size: 14px;
 }